
/ReporteDeCajaGeneral.jasper
/ReporteDeCajaPorSucursal.jasper
/ReportePorServicio.jasper
/ReportePorProfesional.jasper
/ReporteComprobante.jasper
/ReportePorCliente.jasper
/ReporteRankingVendedores.jasper
